
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li><a href="/Student/Show">Show Student</a></li>
            <li><a href="/Student/Insert">Add Student</a></li>
        </ul>
    </div>
</nav>

